.settings/
.classpath
.project
grails/scrum-shuffle/target/
play-scala/play-slick-quickstart/
rails/shuffle/vendor/assets/bower/
node_modules/
.idea/
strongloop/client/
clojure/luminus-reagent/resources/public/js/out/
clojure/luminus-reagent/luminus_reagent.iml
clojure/luminus-reagent/resources/public/js/app.js
clojure/luminus-reagent/site.db.mv.db
