<!DOCTYPE html>
<html>
<head>
  <title>Shuffle</title>
  <%= render 'layouts/includes/header' %>
</head>
<body>

<%= render 'layouts/includes/navbar' %>

<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/includes/footer' %>
</body>
</html>
