@(memberForm: Form[Member], member: Member)
<!DOCTYPE html>

<html>
    <head>
        <title>play2-crud</title>
    </head>
    <body>
    	@helper.form(action = routes.Members.update()) {
    		<input type="hidden" name="key" value="@member.getKey()"></label><br/>
			<input type="text" name="name" value="@member.getName()"/><br/>
			<input type="text" name="initials" value="@member.getInitials()" /><br/>
			<button type="submit" name="save" id="save" class="btn btn-primary">Save</button>
		}
</body>
</html>
