<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>Copyright &copy; Noptech <%= Date.today.year %></p>
    </div>
  </div>
</footer>

<%= javascript_include_tag "application" %>