<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <h4 translate="shuffle.memberslist">Current members</h4>
            <ul>
                <li ng-repeat="member in teamMembers">
                    {{member.initials}} - {{member.name}}
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4 translate="shuffle.cycle">Cycle</h4>
            <button ng-click="cycle()" translate="shuffle.cyclebtn">Cycle</button>
            {{nextMember}}
        </div>
        <div class="col-md-4">
            <h4 translate="shuffle.random">Random</h4>
            <button ng-click="random()" translate="shuffle.go">Go</button>
            {{nextRandomMember}}
        </div>
    </div>
</div>
