<div class="row">
  <div class="col-sm-6">

    <%= button_to "Shuffle", "shuffle/cycle", :class => "btn btn-primary", :method => 'post' %>
    <%= @nextMember.initials + " " + @nextMember.name %>

  </div>
  <div class="col-sm-6">

    <%= button_to "Random", "shuffle/random", :class => "btn btn-primary", :method => 'get' %>
    <%= @randomMember.initials + " " + @randomMember.name %>

  </div>
</div>